<div class="modal-header">
    <button ng-click="$ctrl.cancel();" type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Cambiar Contraseña</h4>
</div>

<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-4 control-label">Nueva Contraseña:</label>
      <div class="col-sm-8">
      <input ng-model="$ctrl.NewPassword" type="text" />
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">Repetir Contraseña:</label>
      <div class="col-md-8">
        <input ng-model="$ctrl.RepeatPassword" type="text" />
      </div>
    </div>
  </form>
  <div class="modal-footer">
      <button ng-click="$ctrl.ChangePassword();" class="btn btn-green" type="button">Cambiar Contraseña</button>
  </div>
</div>
