<div class="modal-header">
    <button ng-click="$ctrl.cancel();" type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Cambiar password</h4>
</div>
<div class="modal-body">
    Nuevo password:<br>
    <input ng-model="$ctrl.NewPassword" type="text"><br>
    Repetir password:<br>
    <input ng-model="$ctrl.RepeatPassword" type="text"></div>
    <button ng-click="$ctrl.ChangePassword();" type="button">Cambiar password</button>
<div class="modal-footer"></div>
